{% extends 'bootswatch.html' %}

{% block body %}



<div class="row">
    <div class="col-12">
        <h1>Expense</h1>
       <table class="table table-striped">
           <tr>
               <th>Title</th>
               <th>Description</th>
               <th>Amount</th>
               <th>TimeStamp</th>
               <th>Edit</th>
               <th>Delete</th>
           </tr>
       {% for inc in expense %}
           <tr>
               <td>{{inc.title}}</td>
               <td>{{inc.description}}</td>
               <td>{{inc.Amount}}</td>
               <td>{{inc.timestamp}}</td>
               <td><a href="/edit_expense/{{inc.id}}/">Edit</a></td>
               <td><a href="/delete_expense/{{inc.id}}/">Delete</a></td>
           </tr>
       {% endfor %}
    </div>

</div>
<div>
    <form action="/create_expense/" method="post" class="form-group">
     {% csrf_token %}
     <p>Wallet</p>
     <select name="wallet" class="form-control">
         {% for wal in wallet %}
         <option value="{{wal.id}}">{{wal.name}}</option>
         {% endfor %}
     </select>
     <p>Title</p>
     <input type="text" name="title" placeholder="Title" class="form-control">
     <p>Description</p>
     <input type="text" name="description" placeholder="Description" class="form-control">
     <p>Amount</p>
     <input type="number" name="amount" placeholder="Enter amount" class="form-control" >
     <br>
     <button type="submit" class="btn btn-outline-success">Create</button>
     </form>
</div>


{% endblock %}