{% extends 'bootswatch.html' %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h1>Wallet</h1>
       <table class="table table-striped">
           <tr>
               <th>Wallet Name</th>
               <th>Balance amount</th>
               <th>Last transaction</th>
               <th>Edit</th>
               <th>Delete</th>
           </tr>
       {% for wal in wallet %}
           <tr>
               <td>{{wal.name}}</td>
               <td>{{wal.balance}}</td>
               <td>{{wal.last_transaction}}</td>
               <td><a href="/edit_wallet/{{wal.id}}/">Edit</a></td>
               <td><a href="/delete_wallet/{{wal.id}}/">Delete</a></td>
           </tr>
       {% endfor %}
      </table>
    </div>
   </div>
   <div>
       <form action="/create_wallet/" method="post" class="form-group">
        {% csrf_token %}
        <p>Wallet Name</p>
        <input type="text" name="wallet_name" placeholder="Wallet name" class="form-control">
        <p>Balance</p>
        <input type="number" name="wallet_balance" placeholder="Enter amount" class="form-control" >
        <br>
        <button type="submit" class="btn btn-outline-success">Create</button>
        </form>
   </div>

{% endblock %}